# Data Cleaning

In [3]:
# read data
# data_path = '/user/mz3327_nyu_edu/restaurants/DOHMH_New_York_City_Restaurant_Inspection_Results.csv'
data_path = 'DOHMH_New_York_City_Restaurant_Inspection_Results.csv'

+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|   CAMIS|        DBA|    BORO|BUILDING|      STREET|ZIPCODE|     PHONE|CUISINE DESCRIPTION|INSPECTION DATE|              ACTION|VIOLATION CODE|VIOLATION DESCRIPTION| CRITICAL FLAG|SCORE|GRADE|GRADE DATE|RECORD DATE|     INSPECTION TYPE|       Latitude|       Longitude|Community Board|Council District|Census Tract|    BIN|       BBL| NTA|Location Point1|Zip Codes|Community Districts|Borough Boundaries|City Council Districts|Police Precincts|
+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|41283963|PAPA JOHN'S|Brooklyn|    5804|    5 AVENUE|  11220|7189217272|              Pizza|     01/26/2022|Violations were c...|           04L| Evidence of mice ...|      Critical|   13|    A|01/26/2022| 04/14/2023|Cycle Inspection ...|40.640525637746|-74.015090336292|            307|              38|        7400|3397962|3008550037|BK32|           null|     null|               null|              null|                  null|            null|
|50133127|       null|  Queens|   19005|HILLSIDE AVE|  11423|9176797448|               null|     01/01/1900|                null|          null|                 null|Not Applicable| null| null|      null| 04/14/2023|                null|40.715736957248|-73.771779426622|            408|              23|       47800|4223678|4104990075|QN06|           null|     null|               null|              null|                  null|            null|
+--------+-----------+--------+--------+------------+-------+----------+-------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+---------------+----------------+---------------+----------------+------------+-------+----------+----+---------------+---------+-------------------+------------------+----------------------+----------------+
only showing top 2 rows

In [4]:
# read data
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_csv(data_path)
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location Point1,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,41283963,PAPA JOHN'S,Brooklyn,5804,5 AVENUE,11220.0,7189217272,Pizza,01/26/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,13.0,A,01/26/2022,04/14/2023,Cycle Inspection / Re-inspection,40.640526,-74.015090,307.0,38.0,7400.0,3397962.0,3.008550e+09,BK32,NaN,NaN,NaN,NaN,NaN,NaN
1,50133127,NaN,Queens,19005,HILLSIDE AVE,11423.0,9176797448,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.715737,-73.771779,408.0,23.0,47800.0,4223678.0,4.104990e+09,QN06,NaN,NaN,NaN,NaN,NaN,NaN
2,50113539,MackaTree,Brooklyn,417,MARCUS GARVEY BOULEVARD,11216.0,3476792021,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.682815,-73.937999,303.0,36.0,27500.0,3046354.0,3.016640e+09,BK35,NaN,NaN,NaN,NaN,NaN,NaN
3,50059874,GINZA SUSHI,Brooklyn,2809,OCEAN AVENUE,11229.0,7187696028,Japanese,12/27/2022,Violations were cited in the following area(s).,04M,Live roaches in facility's food or non-food area.,Critical,21.0,B,12/27/2022,04/14/2023,Cycle Inspection / Re-inspection,40.593102,-73.950210,315.0,48.0,59401.0,3202166.0,3.074050e+09,BK17,NaN,NaN,NaN,NaN,NaN,NaN
4,50131148,NaN,Bronx,969,PROSPECT AVE,10459.0,6466833982,NaN,01/01/1900,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,04/14/2023,NaN,40.822922,-73.900281,203.0,17.0,12901.0,2098575.0,2.026780e+09,BX33,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#check what fraction of rows are null for each column
null_stats = df.isna().astype(int).describe()
# df.info()
print(null_stats.loc['mean', :])

CAMIS                     0.000000
DBA                       0.008443
BORO                      0.000000
BUILDING                  0.001956
STREET                    0.000132
ZIPCODE                   0.013753
PHONE                     0.000054
CUISINE DESCRIPTION       0.021255
INSPECTION DATE           0.000000
ACTION                    0.021255
VIOLATION CODE            0.027051
VIOLATION DESCRIPTION     0.027051
CRITICAL FLAG             0.000000
SCORE                     0.053488
GRADE                     0.504984
GRADE DATE                0.540296
RECORD DATE               0.000000
INSPECTION TYPE           0.021255
Latitude                  0.001540
Longitude                 0.001540
Community Board           0.016769
Council District          0.016769
Census Tract              0.016769
BIN                       0.022020
BBL                       0.003148
NTA                       0.016769
Location Point1           1.000000
Zip Codes                 1.000000
Community Districts       1.000000
Borough Boundaries        1.000000
City Council Districts    1.000000
Police Precincts          1.000000
Name: mean, dtype: float64

In [6]:
# drop columns which contain at least 50% null values
drop_columns = []
for col in null_stats.columns:
    if null_stats.loc['mean', col] >= 0.5:
        print(col, null_stats.loc['mean', col])
        drop_columns.append(col)

df.drop(columns = drop_columns, inplace=True)
df.describe()

GRADE 0.5049840402841859
GRADE DATE 0.5402964437536467
Location Point1 1.0
Zip Codes 1.0
Community Districts 1.0
Borough Boundaries 1.0
City Council Districts 1.0
Police Precincts 1.0

,CAMIS,ZIPCODE,SCORE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,2.039510e+05,201146.000000,193042.000000,203637.000000,203637.000000,200531.000000,200531.000000,200531.000000,1.994600e+05,2.033090e+05
mean,4.726189e+07,10701.716494,21.952316,40.172066,-72.932447,252.679516,20.575527,29878.452658,2.554362e+06,2.441907e+09
std,4.147896e+06,593.847106,16.992658,4.724882,8.577463,129.608585,15.775838,31372.564573,1.340449e+06,1.332931e+09
min,3.007544e+07,8512.000000,0.000000,0.000000,-74.249101,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00
25%,4.159531e+07,10023.000000,11.000000,40.683423,-73.988909,106.000000,4.000000,7900.000000,1.049985e+06,1.010640e+09
50%,5.005502e+07,11101.000000,18.000000,40.730754,-73.956289,302.000000,20.000000,17300.000000,3.016610e+06,3.006000e+09
75%,5.009823e+07,11230.000000,29.000000,40.761606,-73.896112,401.000000,34.000000,42200.000000,4.003516e+06,4.002340e+09
max,5.013498e+07,14228.000000,157.000000,40.912822,0.000000,595.000000,51.000000,162100.000000,5.799501e+06,5.270001e+09

In [7]:
#check null stats for remaining columns
df.isna().astype(int).describe().loc['mean', :]

CAMIS                    0.000000
DBA                      0.008443
BORO                     0.000000
BUILDING                 0.001956
STREET                   0.000132
ZIPCODE                  0.013753
PHONE                    0.000054
CUISINE DESCRIPTION      0.021255
INSPECTION DATE          0.000000
ACTION                   0.021255
VIOLATION CODE           0.027051
VIOLATION DESCRIPTION    0.027051
CRITICAL FLAG            0.000000
SCORE                    0.053488
RECORD DATE              0.000000
INSPECTION TYPE          0.021255
Latitude                 0.001540
Longitude                0.001540
Community Board          0.016769
Council District         0.016769
Census Tract             0.016769
BIN                      0.022020
BBL                      0.003148
NTA                      0.016769
Name: mean, dtype: float64

In [8]:
# Discard columns that are not required for the analysis
df.drop(columns = ['BUILDING', 'STREET', 'RECORD DATE', 'Community Board', 'Council District', 'Census Tract', 'NTA'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203951 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  203951 non-null  int64
 1   DBA                    202229 non-null  object
 2   BORO                   203951 non-null  object
 3   ZIPCODE                201146 non-null  float64
 4   PHONE                  203940 non-null  object
 5   CUISINE DESCRIPTION    199616 non-null  object
 6   INSPECTION DATE        203951 non-null  object
 7   ACTION                 199616 non-null  object
 8   VIOLATION CODE         198434 non-null  object
 9   VIOLATION DESCRIPTION  198434 non-null  object
 10  CRITICAL FLAG          203951 non-null  object
 11  SCORE                  193042 non-null  float64
 12  INSPECTION TYPE        199616 non-null  object
 13  Latitude               203637 non-null  float64
 14  Longitude              203637 non-null  float64
 15  BIN                    199460 non-null  float64
 16  BBL                    203309 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 26.5+ MB

In [9]:
#remove null values in the cusine description column
df = df[df['CUISINE DESCRIPTION'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199616 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  199616 non-null  int64
 1   DBA                    199616 non-null  object
 2   BORO                   199616 non-null  object
 3   ZIPCODE                196902 non-null  float64
 4   PHONE                  199607 non-null  object
 5   CUISINE DESCRIPTION    199616 non-null  object
 6   INSPECTION DATE        199616 non-null  object
 7   ACTION                 199616 non-null  object
 8   VIOLATION CODE         198434 non-null  object
 9   VIOLATION DESCRIPTION  198434 non-null  object
 10  CRITICAL FLAG          199616 non-null  object
 11  SCORE                  193042 non-null  float64
 12  INSPECTION TYPE        199616 non-null  object
 13  Latitude               199368 non-null  float64
 14  Longitude              199368 non-null  float64
 15  BIN                    195336 non-null  float64
 16  BBL                    199049 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 27.4+ MB

In [10]:
#check rows which have null zip codes
df[df['ZIPCODE'].isnull()].head(20)

,CAMIS,DBA,BORO,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,INSPECTION TYPE,Latitude,Longitude,BIN,BBL
61,50105605,LALIBELA ETHIOPIAN RESTAURANT,Manhattan,NaN,9178819775,Ethiopian,11/29/2021,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or...,Critical,45.0,Pre-permit (Operational) / Initial Inspection,0.0,0.0,NaN,1.0
79,41395519,CITI FIELD STAND 321,Queens,NaN,7185958100,American,06/13/2017,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
96,50039447,CHINA HOUSE,Bronx,NaN,7188936187,Chinese,03/09/2019,Violations were cited in the following area(s).,20F,Current letter grade sign not posted.,Not Critical,NaN,Administrative Miscellaneous / Initial Inspection,0.0,0.0,NaN,2.0
170,50068583,RED STAR CHINESE RESTAURANT,Manhattan,NaN,6463355592,Chinese,05/09/2019,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,30.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
287,41395496,"CITI FIELD TWO BOOTS, STAND 318",Queens,NaN,7185958100,American,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
293,41395505,CITI FIELD NATHAN'S FAMOUS STAND 325,Queens,NaN,7185958100,Hotdogs,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
321,41423331,CHOP-STICKS RESTAURANT,Bronx,NaN,7182048119,Chinese,04/04/2022,Violations were cited in the following area(s).,09B,Thawing procedures improper.,Not Critical,6.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,2.0
338,41203533,GREAT TASTE BAKERY,Manhattan,NaN,6466424110,Bakery Products/Desserts,08/16/2021,Violations were cited in the following area(s).,22F,MISBRANDED AND LABELING,Not Critical,NaN,Administrative Miscellaneous / Initial Inspection,0.0,0.0,NaN,1.0
376,40720858,PIER SIXTY ONE-THE LIGHTHOUSE,Manhattan,NaN,2123366146,American,03/08/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,Critical,29.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
459,41203533,GREAT TASTE BAKERY,Manhattan,NaN,6466424110,Bakery Products/Desserts,11/18/2019,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140º F.,Critical,24.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,1.0
462,41184659,LA CASA DEL MOFONGO,Manhattan,NaN,2127401200,Latin American,02/23/2023,Violations were cited in the following area(s).,09B,Thawing procedure improper.,Not Critical,25.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
495,50018572,NIKKO HIBACHI STEAKHOUSE & LOUNGE,Queens,NaN,7188208818,Japanese,08/23/2021,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140º F.,Critical,33.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
508,50001856,DUNKIN,Manhattan,NaN,2122806414,Donuts,08/29/2022,Violations were cited in the following area(s).,04L,Evidence of mice or live mice in establishment...,Critical,26.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
545,41276645,ECUATORIANA RESTAURANT,Manhattan,NaN,2124914626,Spanish,03/08/2023,Violations were cited in the following area(s).,02B,Hot TCS food item not held at or above 140 °F.,Critical,12.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,1.0
561,40958170,SOHO HOUSE,Manhattan,NaN,2126279800,American,03/13/2020,Violations were cited in the following area(s).,10J,Hand wash sign not posted,Not Critical,23.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
563,41395419,CITI FIELD STAND 402,Queens,NaN,7185958146,American,06/05/2018,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
767,41395378,CITI FIELD STERLING KITCHEN,Queens,NaN,7185958100,American,06/07/2016,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,4.0
822,40874933,NUMERO 28 PIZZERIA,Manhattan,NaN,2124639653,Italian,05/25/2017,Violations were cited in the following area(s).,09B,Thawing procedures improper.,Not Critical,12.0,Cycle Inspection / Initial Inspection,0.0,0.0,NaN,1.0
830,40874933,NUMERO 28 PIZZERIA,Manhattan,NaN,2124639653,Italian,09/26/2019,No violations were recorded at the time of thi...,NaN,NaN,Not Applicable,NaN,Administrative Miscellaneous / Re-inspection,0.0,0.0,NaN,1.0
842,50018572,NIKKO HIBACHI STEAKHOUSE & LOUNGE,Queens,NaN,7188208818,Japanese,12/01/2021,Violations were cited in the following area(s).,06F,Wiping cloths soiled or not stored in sanitizi...,Critical,10.0,Cycle Inspection / Re-inspection,0.0,0.0,NaN,4.0

In [11]:
# as the data above doesn't represent a specific sub population we can drop the small number of rows
#remove null values in the zipcode column
df = df[df['ZIPCODE'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196902 entries, 0 to 203950
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  196902 non-null  int64
 1   DBA                    196902 non-null  object
 2   BORO                   196902 non-null  object
 3   ZIPCODE                196902 non-null  float64
 4   PHONE                  196893 non-null  object
 5   CUISINE DESCRIPTION    196902 non-null  object
 6   INSPECTION DATE        196902 non-null  object
 7   ACTION                 196902 non-null  object
 8   VIOLATION CODE         195786 non-null  object
 9   VIOLATION DESCRIPTION  195786 non-null  object
 10  CRITICAL FLAG          196902 non-null  object
 11  SCORE                  190413 non-null  float64
 12  INSPECTION TYPE        196902 non-null  object
 13  Latitude               196654 non-null  float64
 14  Longitude              196654 non-null  float64
 15  BIN                    195318 non-null  float64
 16  BBL                    196335 non-null  float64
dtypes: float64(6), int64(1), object(10)
memory usage: 27.0+ MB

In [12]:
# convert INSPECTION DATE column to datetime
df["INSPECTION DATE"] = pd.to_datetime(df["INSPECTION DATE"])
df['INSPECTION YEAR'] = df['INSPECTION DATE'].dt.year

In [13]:
# find rows where inspection date is < 2016 or  > 2023
df2 = df.groupby(['INSPECTION YEAR'])['INSPECTION YEAR'].count()
df2.sort_values(ascending = False).head(15)

INSPECTION YEAR
2022    91126
2023    31864
2019    29828
2021    21439
2020    16034
2018     3771
2017     2229
2016      582
2015       20
2013        6
2012        2
2011        1
Name: INSPECTION YEAR, dtype: int64

In [14]:
# removing the small fraction of rows which have inspection year <= 2016
df = df[df['INSPECTION YEAR'] > 2016]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196291 entries, 0 to 203950
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CAMIS                  196291 non-null  int64
 1   DBA                    196291 non-null  object
 2   BORO                   196291 non-null  object
 3   ZIPCODE                196291 non-null  float64
 4   PHONE                  196282 non-null  object
 5   CUISINE DESCRIPTION    196291 non-null  object
 6   INSPECTION DATE        196291 non-null  datetime64[ns]
 7   ACTION                 196291 non-null  object
 8   VIOLATION CODE         195196 non-null  object
 9   VIOLATION DESCRIPTION  195196 non-null  object
 10  CRITICAL FLAG          196291 non-null  object
 11  SCORE                  189837 non-null  float64
 12  INSPECTION TYPE        196291 non-null  object
 13  Latitude               196049 non-null  float64
 14  Longitude              196049 non-null  float64
 15  BIN                    194715 non-null  float64
 16  BBL                    195732 non-null  float64
 17  INSPECTION YEAR        196291 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(9)
memory usage: 28.5+ MB

In [16]:
# drop duplicate rows
df1 = df.drop_duplicates()
# counting unique values in CAMIS column: Establishments are uniquely identified by their CAMIS (record ID) number.
print(len(df["CAMIS"].unique()))
print(len(df.index))

23624
196291

In [17]:
#checking for invalid values in BORO column
df['BORO'].unique()

array(['Brooklyn', 'Queens', 'Manhattan', 'Bronx', 'Staten Island', '0'],
      dtype=object)

In [18]:
df2 = df.groupby(['BORO'])['BORO'].count()
df2.sort_values(ascending = False).head(15)

BORO
Manhattan        72789
Brooklyn         52527
Queens           46185
Bronx            18397
Staten Island     6363
0                   30
Name: BORO, dtype: int64

In [19]:
#change 0 to UNKNOWN; value can be inferred from zipcode if required for analysis
df['BORO'] = df['BORO'].replace('0', 'UNKNOWN')

In [20]:
# fix column types

df['CAMIS'] = df['CAMIS'].astype(str)
df['ZIPCODE'] = df['ZIPCODE'].astype(int).astype(str)
df['BIN'] = df['BIN'].astype('Int64').astype(str)
df['BBL'] = df['BBL'].astype('Int64').astype(str)

In [21]:
# ensure all zipcodes are of same length - add preceding 0s if required
df['ZIPCODE'].str.len().unique()

array([5])

In [22]:
# ensure violation codes are valid; data sourced from : https://www.nyc.gov/assets/doh/downloads/pdf/about/healthcode/health-code-chapter23.pdf
valid_codes = ['02A','02B','02C','02D','02E','02F','02G','02H','02I','02J','03A','03B','03C','03D','03E','03F','03G','03I','04A','04B','04C','04D','04E','04F','04G','04H','04I','04J','04K','04L','04M','04N','04O','04P','05A','05B','05C','05D','05E','05F','05G','05H','05I','06A','06B','06C','06D','06E','06F','06G','06H','06I','06J','07A','08A','08B','08C','09A','09B','09C','09D','09E','10A','10B','10C','10D','10E','10F','10G','10H','15-01','15-05','15-06','15-07','15-08','15-09','15-13','15-14','15-15','15-16','15-17','15-21','15-22','15-26','15-27','15-28','15-29','15-30','15-31','15-32','15-33','15-34','15-35','15-36','15-37','15-38','15-39','15-40','15-41','15-42','15-48','15-49','15-50','15-51','15-52','15-53','15-54','15-55','15-56','16-01','16-02','16-03','16-04','16-06','16-08','16-09','16-10','16-11','17-01','17-03','18-01','18-02','18-08','18-10','18-11','18-12','18-13','18-14','18-15','18-25','19-01','19-02','19-03','19-04','19-05','19-06','19-07','19-08','19-09','19-10','19-11','20-01','20-02','20-03','20-04','20-05','20-06','20-07','20-08','26-04','28-01','28-02','28-03','28-04','28-05','28-06','28-07','28-09','28-10']
data_codes = set(list(df['VIOLATION CODE'].unique()))
valid_codes_set = set(valid_codes)
data_codes - valid_codes_set
# TODO : remove these rows?

{'10I',
 '10J',
 '15A1',
 '15E2',
 '15E3',
 '15F1',
 '15F2',
 '15F6',
 '15F7',
 '15F8',
 '15I',
 '15L',
 '15S',
 '16A',
 '16B',
 '16C',
 '16D',
 '16E',
 '17A1',
 '18B',
 '18C',
 '18D',
 '18F',
 '18G',
 '20A',
 '20C',
 '20D',
 '20E',
 '20F',
 '22A',
 '22C',
 '22E',
 '22F',
 '22G',
 nan}

In [23]:
# checking that Lat Long are in a small range around New York
df.loc[:, ['Latitude', 'Longitude']].describe()

            Latitude      Longitude
count  196049.000000  196049.000000
mean       40.727601     -73.941057
std         0.068769       0.075316
min        40.499563     -74.248708
25%        40.685782     -73.989099
50%        40.732199     -73.957162
75%        40.761992     -73.899441
max        40.912822     -73.700928

In [25]:
# save cleaned data
df.to_csv('DOHMH_New_York_City_Restaurant_Inspection_Results_cleaned.csv', index = False)

In [59]:
# TODO : fingerprint function for DBA / cuisine description / INSPECTION TYPE /  for entity resolution

# EDA

In [ ]:
# install spark for colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
#start spark session
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode","client")
sc = SparkContext.getOrCreate(cf)
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("big_data") \
        .config("spark.driver.memory", "12g") \
        .getOrCreate()

spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better

In [ ]:
# read data
# data_path = '/user/mz3327_nyu_edu/restaurants/DOHMH_New_York_City_Restaurant_Inspection_Results.csv'
data_path = 'DOHMH_New_York_City_Restaurant_Inspection_Results.csv'

inspection_df = spark.read.csv(path=data_path, header=True, inferSchema = True)
inspection_df.show(2)

In [ ]:
#See which violations were isssued most in 2019 and 2022 to asain and chinese restaurants

inspection_df.createOrReplaceTempView("inspections")

Chinese_violations = spark.sql("""
    SELECT t.year, t.cuisine, t.`VIOLATION DESCRIPTION`, t.count
    FROM (
        SELECT YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')) as year,
               CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine, 
               `VIOLATION DESCRIPTION`, COUNT(*) as count,
               ROW_NUMBER() OVER (PARTITION BY YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')), CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END ORDER BY COUNT(*) DESC) as row_num
        FROM inspections
        WHERE YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')) IN (2019, 2022)
              AND (CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END) IN ('Asian/Chinese')
        GROUP BY YEAR(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy')), `VIOLATION DESCRIPTION`, cuisine
    ) t
    WHERE t.row_num <= 3
    ORDER BY t.year DESC, t.count DESC
""")

# convert the PySpark DataFrame to a pandas DataFrame
Chinese_violations_pd = Chinese_violations.toPandas()


# display the pandas DataFrame
display(Chinese_violations_pd)

,year,cuisine,VIOLATION DESCRIPTION,count
0,2022,Asian/Chinese,Non-food contact surface improperly constructe...,736
1,2022,Asian/Chinese,Non-food contact surface or equipment made of ...,733
2,2022,Asian/Chinese,Establishment is not free of harborage or cond...,708
3,2019,Asian/Chinese,Non-food contact surface improperly constructe...,528
4,2019,Asian/Chinese,Facility not vermin proof. Harborage or condit...,388
5,2019,Asian/Chinese,Evidence of mice or live mice present in facil...,250

In [ ]:
#Run a SQL query to filter the inspection data by cuisine and date range
inspection_df.createOrReplaceTempView("inspection_data")


results = spark.sql("""
    SELECT `CUISINE DESCRIPTION` as cuisine,
           count(*) as violation_count, YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year
    FROM inspection_data
    WHERE MONTH(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy-MM-dd')) BETWEEN 01 AND 05
        AND `CUISINE DESCRIPTION` IN ('Asian', 'Chinese')
    GROUP BY cuisine, year
    HAVING year BETWEEN 2019 AND 2023
    ORDER BY year DESC, cuisine ASC
""")

# Display the results
results.show()

+-------+---------------+----+
|cuisine|violation_count|year|
+-------+---------------+----+
|Chinese|           3212|2023|
|Chinese|           3687|2022|
|Chinese|              5|2021|
|Chinese|           1744|2020|
|Chinese|            465|2019|
+-------+---------------+----+

In [ ]:
inspection_df.groupBy('CUISINE DESCRIPTION').count().orderBy('count', ascending=False).show()

+--------------------+-----+
| CUISINE DESCRIPTION|count|
+--------------------+-----+
|            American|34952|
|             Chinese|19788|
|               Pizza|12423|
|          Coffee/Tea|12077|
|      Latin American| 8211|
|             Mexican| 7921|
|             Italian| 7474|
|           Caribbean| 7256|
|Bakery Products/D...| 7081|
|            Japanese| 6972|
|             Spanish| 5613|
|             Chicken| 5519|
|                null| 4294|
|          Sandwiches| 4215|
|              Donuts| 3743|
|  Asian/Asian Fusion| 3369|
|Juice, Smoothies,...| 3180|
|          Hamburgers| 3173|
|                Thai| 3045|
|       Jewish/Kosher| 3024|
+--------------------+-----+
only showing top 20 rows

In [ ]:
inspection_df.groupBy('ZIPCODE').count().orderBy('count', ascending=False).show()

+-------+-----+
|ZIPCODE|count|
+-------+-----+
|  10003| 4768|
|  10013| 4496|
|  10019| 4218|
|  10036| 4003|
|  10002| 3812|
|  10001| 3617|
|  11354| 3494|
|  11220| 3452|
|  11201| 3308|
|  10012| 3259|
|  10014| 3240|
|  10016| 3179|
|  10011| 3089|
|  11372| 3042|
|  10022| 2882|
|  11211| 2863|
|   null| 2778|
|  10018| 2713|
|  11215| 2441|
|  11101| 2349|
+-------+-----+
only showing top 20 rows

In [ ]:

inspection_df.filter( inspection_df["ZIPCODE"].isNull()).show(10)

+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|   CAMIS|                 DBA|     BORO|BUILDING|              STREET|ZIPCODE|     PHONE| CUISINE DESCRIPTION|INSPECTION DATE|              ACTION|VIOLATION CODE|VIOLATION DESCRIPTION| CRITICAL FLAG|SCORE|GRADE|GRADE DATE|RECORD DATE|     INSPECTION TYPE|Latitude|Longitude|Community Board|Council District|Census Tract| BIN|BBL| NTA|Location Point1|Zip Codes|Community Districts|Borough Boundaries|City Council Districts|Police Precincts|
+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
|50105605|LALIBELA ETHIOPIA...|Manhattan|    2084|FREDERICK DOUGLAS...|   null|9178819775|           Ethiopian|     11/29/2021|Violations were c...|           04M| Live roaches pres...|      Critical|   45| null|      null| 04/14/2023|Pre-permit (Opera...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41395519|CITI FIELD STAND 321|   Queens|     000|126TH ST & ROOSEV...|   null|7185958100|            American|     06/13/2017|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/13/2017| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|50039447|         CHINA HOUSE|    Bronx|    1572|       E 174TH STEET|   null|7188936187|             Chinese|     03/09/2019|Violations were c...|           20F| Current letter gr...|  Not Critical| null| null|      null| 04/14/2023|Administrative Mi...|       0|        0|           null|            null|        null|null|  2|null|           null|     null|               null|              null|                  null|            null|
|50068583|RED STAR CHINESE ...|Manhattan|    2529|ADAM CLAYTON POWE...|   null|6463355592|             Chinese|     05/09/2019|Violations were c...|           04L| Evidence of mice ...|      Critical|   30| null|      null| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41395496|CITI FIELD TWO BO...|   Queens|     126|    ROOSEVELT AVENUE|   null|7185958100|            American|     06/07/2016|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/07/2016| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|41395505|CITI FIELD NATHAN...|   Queens|     000|126TH & ROOSEVELT...|   null|7185958100|             Hotdogs|     06/07/2016|No violations wer...|          null|                 null|Not Applicable|    0|    A|06/07/2016| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  4|null|           null|     null|               null|              null|                  null|            null|
|41423331|CHOP-STICKS RESTA...|    Bronx|    7718|           21 AVENUE|   null|7182048119|             Chinese|     04/04/2022|Violations were c...|           09B| Thawing procedure...|  Not Critical|    6|    A|04/04/2022| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  2|null|           null|     null|               null|              null|                  null|            null|
|41203533|  GREAT TASTE BAKERY|Manhattan|    3335|    CATHERINE STREET|   null|6466424110|Bakery Products/D...|     08/16/2021|Violations were c...|           22F| MISBRANDED AND LA...|  Not Critical| null| null|      null| 04/14/2023|Administrative Mi...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|40720858|PIER SIXTY ONE-TH...|Manhattan|       0|CHELSEA PIERS - P...|   null|2123366146|            American|     03/08/2022|Violations were c...|           04L| Evidence of mice ...|      Critical|   29| null|      null| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
|41203533|  GREAT TASTE BAKERY|Manhattan|    3335|    CATHERINE STREET|   null|6466424110|Bakery Products/D...|     11/18/2019|Violations were c...|           02B| Hot food item not...|      Critical|   24|    B|11/18/2019| 04/14/2023|Cycle Inspection ...|       0|        0|           null|            null|        null|null|  1|null|           null|     null|               null|              null|                  null|            null|
+--------+--------------------+---------+--------+--------------------+-------+----------+--------------------+---------------+--------------------+--------------+---------------------+--------------+-----+-----+----------+-----------+--------------------+--------+---------+---------------+----------------+------------+----+---+----+---------------+---------+-------------------+------------------+----------------------+----------------+
only showing top 10 rows

In [ ]:
inspection_df.groupBy('ACTION').count().orderBy('count', ascending=False).show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------+------+
|ACTION                                                                                                                            |count |
+----------------------------------------------------------------------------------------------------------------------------------+------+
|Violations were cited in the following area(s).                                                                                   |189005|
|Establishment Closed by DOHMH. Violations were cited in the following area(s) and those requiring immediate action were addressed.|7547  |
|null                                                                                                                              |4294  |
|Establishment re-opened by DOHMH.                                                                                                 |1871  |
|No violations were recorded at the time of this inspection.                                                                       |1158  |
|Establishment re-closed by DOHMH.                                                                                                 |4     |
+----------------------------------------------------------------------------------------------------------------------------------+------+

In [ ]:
#INSPECTIONS INCREASED BY APPROX. 203 PERCENT FROM 2019 TO 2022
inspection_df.createOrReplaceTempView("inspections")
inspection_by_year = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, COUNT(*) as count
    FROM inspections
    GROUP BY year
    ORDER BY year ASC
    
""")
inspection_by_year.show()

23/05/02 19:48:16 WARN org.apache.spark.sql.catalyst.util.package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----+-----+
|year|count|
+----+-----+
|1900| 4335|
|2011|    1|
|2012|    2|
|2013|    6|
|2015|   20|
|2016|  670|
|2017| 2386|
|2018| 3982|
|2019|30403|
|2020|16202|
|2021|21645|
|2022|92082|
|2023|32217|
+----+-----+

In [ ]:
#Ameircan restaruants inreased up by 133 percent from 2019 to 2022
#Chinese restaruants inreased up by 231 percent from 2019 to 2022


#find avg number of restaurants
Asians_restaurants = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, 
           CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine,
           COUNT(*) as count
    FROM inspections
    WHERE YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2019 OR YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2022
    GROUP BY year, cuisine
    HAVING cuisine = 'Asian/Chinese' OR cuisine ='American'
    ORDER BY year ASC
""")
Asians_restaurants.show()

+----+-------------+-----+
|year|      cuisine|count|
+----+-------------+-----+
|2019|     American| 6292|
|2019|Asian/Chinese| 3391|
|2022|     American|14700|
|2022|Asian/Chinese|11208|
+----+-------------+-----+

In [ ]:
grades_by_cusine = spark.sql("""
    SELECT YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) as year, grade,
           CASE WHEN `CUISINE DESCRIPTION` IN ('Asian/Asian Fusion', 'Chinese') THEN 'Asian/Chinese' ELSE `CUISINE DESCRIPTION` END as cuisine,
           COUNT(*) as count
    FROM inspections
    WHERE YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2019 OR YEAR(DATE_FORMAT(TO_DATE(`INSPECTION DATE`, 'MM/dd/yyyy'), 'yyyy')) = 2022
    GROUP BY year, grade, cuisine
    HAVING (cuisine = 'Asian/Chinese' OR cuisine ='American') AND grade = 'A'
    ORDER BY grade DESC
""")
grades_by_cusine.show(100)

+----+-----+-------------+-----+
|year|grade|      cuisine|count|
+----+-----+-------------+-----+
|2019|    A|Asian/Chinese| 1378|
|2022|    A|Asian/Chinese| 2957|
|2019|    A|     American| 3203|
|2022|    A|     American| 5925|
+----+-----+-------------+-----+